target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.sts4-cache
bin/
.idea
*.iml
*.iws
*.ipr
.DS_Store
.env

logs/
run_app.bat
run_err.txt
run_out.txt
app_run.txt
build_log.txt
build_out.txt
mvnw
mvnw.cmd
.mvn/
